<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="System information of Raspberry Pi">
    <meta name="author" content="Ashok Raja T">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/pi.css">
    <script src="static/js/sort.js"></script>
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <style>

    </style>
</head>
<body style="background-color:#757575">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" style="max-width:600px;color:#ffffff">
        <div class="row" style="padding-top:20px;">
            <div class="two columns">
                <img src="static/images/logo.png" style="width:60px" />
            </div>
            <div class="ten columns">
                <h3 style="margin-top:10px;color:#FF8C00">Raspberry Pi - Sys Info</h3>
            </div>
        </div>
              <div class="row g-header">
            <h5>
                Generic Info
            </h5>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Name of the Pi
            </div>
            <div class="nine columns">
                {{sys_data.machine_name}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Hardware Type
            </div>
            <div class="nine columns">
                {{cpu_genric_info[1][1]}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Serial Number
            </div>
            <div class="nine columns">
                {{cpu_genric_info[2][1]}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Operating System
            </div>
            <div class="nine columns">
                {{os_name}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Running Since
            </div>
            <div class="nine columns">
                {{boot_info.running_duration}}, <b>Started on </b> {{boot_info.start_time}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                System Time
            </div>
            <div class="nine columns">
                {{sys_data.current_time}}
                <div style="text-align:right;padding-top:10px">
                    <a href="restart" onclick="return confirm('Do you wish to re-start your system ?')" class="button button-primary" style="margin-right:10px">Restart</a>
                    <a href="shutdown" onclick="return confirm('Do you wish to shutdown your system ?')" class="button button-primary">Shutdown</a>
                </div>
            </div>
        </div>
                <div class="row g-header">
            <h5>
                CPU Details
            </h5>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Processor Type
            </div>
            <div class="nine columns">
                {{cpu_genric_info[0][1]}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Core Frequency
            </div>
            <div class="nine columns">
                {{cpu_core_frequency}} Mhz
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                No of Cores
            </div>
            <div class="nine columns">
                {{cpu_processor_count}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Temperature
            </div>
            <div class="nine columns" style="color:{{cpu_temperature.color}}">
                {{cpu_temperature.temperature}} &#176; C
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Core Volt
            </div>
            <div class="nine columns">
                {{cpu_core_volt}}
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                CPU  Usage
            </div>
            <div class="nine columns">
                {{cpu_usage_info['in_use']}} %
            </div>
        </div>
        <div class="row g-header">
            <h5>
                Memory Details
            </h5>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Total Memory
            </div>
            <div class="nine columns g-row">
                {{memory_usage_info.total}} MB
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                In Use
            </div>
            <div class="nine columns">
                {{memory_usage_info.used}} MB
            </div>
        </div>
        <div class="row g-row">
            <div class="three columns g-head">
                Free
            </div>
            <div class="nine columns">
                {{memory_usage_info.available}} MB
            </div>
        </div>
                <div class="row g-header">
            <h5>
                Disk Details <span class="item-count"> ( {{ disk_usage_info | length}} ) </span>
            </h5>
        </div>
        <div>
            <table class="u-full-width sortable">
                <thead style="color:#C1FFC1">
                    <tr>
                        <th>File System</th>
                        <th>Size</th>
                        <th>Used</th>
                        <th>Avail</th>
                        <th>Used%</th>
                        <th>Mounted On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disk_item in disk_usage_info %}
                    <tr>
                        <td>{{disk_item[0]}}</td>
                        <td>{{disk_item[1]}}</td>
                        <td>{{disk_item[2]}}</td>
                        <td>{{disk_item[3]}}</td>
                        <td>{{disk_item[4]}}</td>
                        <td>{{disk_item[5]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                <div class="row g-header">
            <h5>
                Running Process Details <span class="item-count"> ( {{ running_process_info | length}} ) </span>
            </h5>
        </div>
        <div>
            <table class="u-full-width sortable">
                <thead style="color:#C1FFC1">
                    <tr>
                        <th>User</th>
                        <th>ProcId</th>
                        <th>CPU%</th>
                        <th>Mem%</th>
                        <th>Application</th>
                        <th>Started On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for procinfo in running_process_info %}
                    <tr>
                        <td>{{procinfo[0]}}</td>
                        <td>{{procinfo[1]}}</td>
                        <td>{{procinfo[2]}}</td>
                        <td>{{procinfo[3]}}</td>
                        <td>{{procinfo[4]}}</td>
                        <td nowrap>{{ short_date( procinfo[7] , procinfo[6],  procinfo[8])  }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
